.Main-Container {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Requirement-Slot {
    position: relative;
    float: left;
    margin-left: 5px;
    width: 110px; 
    height: 110px;
    background-color: #0c0c0c66;
}

.Requirement-Slot .Amount {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 13px;
    font-weight: 350;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #ededed;
}

.Requirement-Slot img {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
}

.Requirement-Label {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #22232c;
}

.Requirement-Label .Item-Label {
    font-size: 13px;
    font-weight: 350;
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #ededed;
}